// This is our FCC filetype
#define pThe 0x5468656F		// Hex description 'Theo'

// For compatibility with Premiere 6.x, we still define a real IMPT resource
1000 IMPT DISCARDABLE
BEGIN
	0x0000
	pThe 
END

	